<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">[[BOTNAME]]</h4>
            </div>
            <div class="row">
                <mat-tab-group>
                    <mat-tab label="Overview">
                        <p>This is the Overview tab content.</p>
                    </mat-tab>

                    <mat-tab label="Details">
                        <p>This is the Details tab content.</p>
                    </mat-tab>

                    <mat-tab label="Settings">
                        <p>This is the Settings tab content.</p>
                    </mat-tab>

                    <mat-tab label="Logs">
                        <p>This is the Logs tab content.</p>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </div>
</div>