<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">[[ {{userName}} ]]</h4>
            </div>
            <div class="row">
                <mat-tab-group>
                    <mat-tab label="Bots">
                        <app-table-list [entityName]="userName" [filtered]="filteredBots"></app-table-list>
                    </mat-tab>
                    
                    <mat-tab label="Forms">
                        <app-table-list [entityName]="userName" [section]="'Form'" [filtered]="filteredForms"></app-table-list>
                    </mat-tab>
                    
                    <mat-tab label="flows">
                        <app-table-list [entityName]="userName" [section]="'Flows'" [filtered]="filteredFlows"></app-table-list>
                    </mat-tab>
                    
                    <mat-tab label="Skins">
                        <app-table-list [entityName]="userName" [section]="'Skins'" [filtered]="skins"></app-table-list>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>