<div class="sidebar" [ngClass]="{ 'collapsed': small }">
  <div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
      <div class="logo-img">
        <img src="/assets/img/angular2-logo-red.png" />
      </div><span *ngIf="!small">Creative Tim </span>
    </a>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li
        routerLinkActive="active"
        *ngFor="let menuItem of menuItems"
        class="nav-item {{ menuItem.class }}">
        <a class="nav-link" [routerLink]="[menuItem.path]">
          <i
            class="material-icons"
            [title]="small ? menuItem.title : ''"
          >{{ menuItem.icon }}</i>
          <p *ngIf="!small">{{ menuItem.title }}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
