<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger d-flex align-items-center">
                        <h4 class="card-title mb-0">Bot's</h4>
                        <button class="btn btn-primary ml-auto">New</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Entity Name</th>
                                        <th>Bot Name</th>
                                        <th>Entity ID</th>
                                        <th>Bot Config ID</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let bot of bots">
                                        <td>{{ bot.entityName }}</td>
                                        <td>{{ bot.botName }}</td>
                                        <td>{{ bot.entityId }}</td>
                                        <td>{{ bot.botConfigId }}</td>
                                        <td>
                                            <span [class.text-success]="bot.status === 'Active'"
                                                [class.text-danger]="bot.status === 'Inactive'">
                                                {{ bot.status }}
                                            </span>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" [routerLink]="['/editbot']">{{ bot.action }} </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>